# YM's Format Style Options
---
AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
BasedOnStyle: LLVM
ColumnLimit: 100
Language: Cpp
PointerAlignment: Left
SortIncludes: false
SpaceBeforeParens: ControlStatements
TabWidth: 4
UseTab: Never

# 缩进
IndentWidth: 4
IndentCaseLabels: true
NamespaceIndentation: All
IndentPPDirectives: BeforeHash

# 左括号中的参数对齐
AlignAfterOpenBracket: Align

# AlignOperands: Align

# 对齐尾随注释
AlignTrailingComments: true
# 对齐数组列并右对齐列
AlignArrayOfStructures: Right
# 对齐连续赋值
AlignConsecutiveAssignments: AcrossComments
# 对齐连续位字段
AlignConsecutiveBitFields: AcrossComments
# 对齐连续宏定义
AlignConsecutiveMacros: AcrossComments
# 在转义的换行符中对齐反斜杠
AlignEscapedNewlines: Left

# 自定义换行规则
AllowShortCaseLabelsOnASingleLine: true

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  # BraceWrappingAfterControlStatementStyle
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
...
